<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <header>
            <h1>Index</h1>
        </header>
    </main>

<%- include('../includes/end.ejs') %>