<main>
    <header>
        <h1>Assignement - 4</h1>
    </header>
    <form action="/users" method="POST">
        <label for="name">name</label>
        <input type="text" id="name" name="name">
        <button type="submit">Submit</button>
    </form>
</main>