<main>
    {{#if hasProducts}}
    <header>
        <h1>My Products</h1>
    </header>
    <div class="grid">
        {{#each products}}
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">{{title}}</h1>
            </header>
            <div class="card__image">
                <img src="https://via.placeholder.com/150" alt="{{title}}">
            </div>
            <div class="card__content">
                <h2 class="product__price">$19.00</h2>
                <p class="product__description">Description</p>
            </div>
            <div class="card__actions">
                <button class="btn">Add to Cart</button>
            </div>
        </article>
        {{/each}}
    </div>
    {{else}}
    <header>
        <h1>No Products</h1>
    </header>
    {{/if}}
</main>