.product-form {
    margin: 1rem 0;
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin-bottom: 1rem;
    width: 100%;
}

.form-control input,
.form-control label {
    display: block;
    width: 100%;
}

.form-control input {
    font: inherit;
    border: 1px solid #333;
    border-radius: 2px;
}

button {
    font: inherit;
    line-height: 1;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #eee;
}

button:hover,
button:focus,
button:active {
    color: #fff;
    background-color: teal;
}